.Password-header {
  h1 {
    font-family: "Raleway";
    font-size: xx-large;
    font-style: bold;
  }
}

.Password-container {
  font-family: "Raleway";
  font-size: larger;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 6px;

  input {
    border-radius: 8px;
    outline: none;
    padding: 6px 0 6px 12px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    width: 75%;
  }

  input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.Password-submit {
  button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,
        #77530a,
        #ffd277,
        #77530a,
        #77530a,
        #ffd277,
        #77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.5s;
    overflow: hidden;
  }

  button::before {
    position: absolute;
    content: "Submit";
    color: #0E0E10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 0.5s;
    background-color: lightgreen;
    background-size: 200%;
    font-size: large;
  }

  button:hover {
    background-position: right;
    transition-duration: 0.5s;
  }

  button:hover::before {
    background-position: right;
    transition-duration: 0.5s;
  }

  button:active {
    transform: scale(0.95);
  }
}

.Password-submit.lock {
  button {
    background: linear-gradient(to right,
        #77530a,
        #ffd277,
        #77530a,
        #77530a,
        #ffd277,
        #77530a);
    color: #ffd277;
  }

  button::before {
    background-color: #D3D3D3;
    color: #0E0E10;
  }
}